RTIGateway/rti-rim-artefacts-2016-v1_2/EmployerAlignmentSubmission-v3-2.sch

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schematron
Generated by CoreFiling: generator revision 421157
Thu Nov 13 11:59:48 GMT 2014
-->
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="exslt">
  <sch:title>Schematron for EmployerAlignmentSubmission</sch:title>
  <sch:ns prefix="hd" uri="http://www.govtalk.gov.uk/CM/envelope"/>
  <sch:ns prefix="dsig" uri="http://www.w3.org/2000/09/xmldsig#"/>
  <sch:ns prefix="eas" uri="http://www.govtalk.gov.uk/taxation/PAYE/RTI/EmployerAlignmentSubmission/3"/>
    <sch:pattern id="p2">
      <sch:rule context="/hd:GovTalkMessage/hd:Body/eas:IRenvelope/eas:IRheader/eas:Keys/eas:Key">
        <sch:assert test="count(../../../../../hd:GovTalkDetails/hd:Keys/hd:Key[@Type = current()/@Type and . = current()]) &gt; 0" id="a_r1004" diagnostics="errorCode.r1004 transactional.r1004 transactional.en.r1004 ">Keys in the IR header must also exist in the GovTalk header with the same value</sch:assert>
      </sch:rule>
    </sch:pattern>
    <sch:pattern id="p1">
      <sch:rule context="/hd:GovTalkMessage/hd:Body/eas:IRenvelope/eas:IRheader">
        <sch:assert test="count(eas:Keys/eas:Key) &gt; 0" id="a_r1005" diagnostics="errorCode.r1005 transactional.r1005 transactional.en.r1005 ">At least one key must exist in the IRheader</sch:assert>
      </sch:rule>
    </sch:pattern>
    <sch:pattern id="p4">
      <sch:rule context="/hd:GovTalkMessage/hd:Body/eas:IRenvelope/eas:EmployerAlignmentSubmission/eas:EmpRefs/eas:OfficeNo">
        <sch:assert test="../../../eas:IRheader/eas:Keys/eas:Key[@Type = &apos;TaxOfficeNumber&apos;] = ." id="a_HMRCOFFICENUMBER.0" diagnostics="errorCode.HMRCOFFICENUMBER.0 transactional.HMRCOFFICENUMBER.0 transactional.en.HMRCOFFICENUMBER.0 ">The TaxOfficeNumber key within the IRheader must match [HMRCOFFICENUMBER]</sch:assert>
      </sch:rule>
    </sch:pattern>
    <sch:pattern id="p5">
      <sch:rule context="/hd:GovTalkMessage/hd:Body/eas:IRenvelope/eas:EmployerAlignmentSubmission/eas:EmpRefs/eas:PayeRef">
        <sch:assert test="../../../eas:IRheader/eas:Keys/eas:Key[@Type = &apos;TaxOfficeReference&apos;] = ." id="a_EMPLOYERPAYEREF.0" diagnostics="errorCode.EMPLOYERPAYEREF.0 transactional.EMPLOYERPAYEREF.0 transactional.en.EMPLOYERPAYEREF.0 ">The TaxOfficeReference key within the IRheader must match [EMPLOYERPAYEREF]</sch:assert>
      </sch:rule>
    </sch:pattern>
    <sch:pattern id="p6">
      <sch:rule context="/hd:GovTalkMessage/hd:Body/eas:IRenvelope/eas:EmployerAlignmentSubmission/eas:NumberOfParts">
        <sch:assert test="(.) &lt;= 1
            or
              ../eas:UniquePartID" id="a_NUMBEROFPARTS.0" diagnostics="errorCode.NUMBEROFPARTS.0 transactional.NUMBEROFPARTS.0 transactional.en.NUMBEROFPARTS.0 ">[UNIQUEPARTID] is mandatory if [NUMBEROFPARTS] &gt; 1</sch:assert>
      </sch:rule>
    </sch:pattern>
    <sch:pattern id="p9">
      <sch:rule context="/hd:GovTalkMessage/hd:Body/eas:IRenvelope/eas:EmployerAlignmentSubmission/eas:Employee/eas:EmployeeDetails/eas:Address/eas:ForeignCountry">
        <sch:assert test="(count(../eas:Line)) &gt;= 2" id="a_FOREIGNCOUNTRY.0" diagnostics="errorCode.FOREIGNCOUNTRY.0 transactional.FOREIGNCOUNTRY.0 transactional.en.FOREIGNCOUNTRY.0 ">If [FOREIGNCOUNTRY] is present, at least two [ADDRESSLINE] should be present</sch:assert>
      </sch:rule>
    </sch:pattern>
    <sch:pattern id="p10">
      <sch:rule context="/hd:GovTalkMessage/hd:Body/eas:IRenvelope/eas:EmployerAlignmentSubmission/eas:Employee/eas:EmployeeDetails/eas:BirthDate">
        <sch:assert test="(round(date:seconds(normalize-space((.))) div 86400) &lt;= round(date:seconds(normalize-space(date:date())) div 86400))" id="a_BirthDateType.1" diagnostics="errorCode.BirthDateType.1 transactional.BirthDateType.1 transactional.en.BirthDateType.1 ">The Date of Birth must be today or earlier.</sch:assert>
        <sch:assert test="(round(date:seconds(normalize-space(date:add(normalize-space(date:date()),normalize-space(&quot;-P130Y&quot;)))) div 86400) &lt; round(date:seconds(normalize-space((.))) div 86400))" id="a_DATEOFBIRTH.0" diagnostics="errorCode.DATEOFBIRTH.0 transactional.DATEOFBIRTH.0 transactional.en.DATEOFBIRTH.0 ">Must be later than 130 years before today</sch:assert>
      </sch:rule>
    </sch:pattern>
    <sch:pattern id="p8">
      <sch:rule context="/hd:GovTalkMessage/hd:Body/eas:IRenvelope/eas:EmployerAlignmentSubmission/eas:Employee/eas:EmployeeDetails">
        <sch:assert test="eas:NINO
            or
              count(eas:Address/eas:Line) &gt;= 2" id="a_EMPLOYEE.0" diagnostics="errorCode.EMPLOYEE.0 transactional.EMPLOYEE.0 transactional.en.EMPLOYEE.0 ">At least two [ADDRESSLINE] should be present if not ( [NINO] is present )</sch:assert>
        <sch:assert test="eas:Name/eas:Fore or eas:Name/eas:Initials" id="a_EMPLOYEE.1" diagnostics="errorCode.EMPLOYEE.1 transactional.EMPLOYEE.1 transactional.en.EMPLOYEE.1 ">At least one of [FORENAME] and [INITIALS] must be present</sch:assert>
      </sch:rule>
    </sch:pattern>
    <sch:pattern id="p11">
      <sch:rule context="/hd:GovTalkMessage/hd:Body/eas:IRenvelope/eas:EmployerAlignmentSubmission/eas:Employee/eas:Employment/eas:Starter/eas:StartDate">
        <sch:assert test="(round(date:seconds(normalize-space(.)) div 86400) &lt;= round(date:seconds(normalize-space(date:add(normalize-space(date:date()),normalize-space(&quot;P30D&quot;)))) div 86400))" id="a_STARTDATE.0" diagnostics="errorCode.STARTDATE.0 transactional.STARTDATE.0 transactional.en.STARTDATE.0 ">[STARTDATE] must be no later than current date plus 30 days (i.e. Also any date in the past allowed)</sch:assert>
        <sch:assert test="not((.))
          or
            (count(../../../eas:EmployeeDetails/eas:Address/eas:Line)) &gt;= 2" id="a_STARTDATE.1" diagnostics="errorCode.STARTDATE.1 transactional.STARTDATE.1 transactional.en.STARTDATE.1 ">At least two [ADDRESSLINE]s should be present if [STARTDATE] is present</sch:assert>
      </sch:rule>
    </sch:pattern>
    <sch:pattern id="p12">
      <sch:rule context="/hd:GovTalkMessage/hd:Body/eas:IRenvelope/eas:EmployerAlignmentSubmission/eas:Employee/eas:Employment/eas:LeavingDate">
        <sch:assert test="date:year(normalize-space(date:add(normalize-space((.)),normalize-space(&apos;-P3M5D&apos;)))) &gt;= date:year(normalize-space(date:add(normalize-space(date:date()),normalize-space(&apos;-P3M5D&apos;)))) - 6" id="a_LEAVINGDATE.0" diagnostics="errorCode.LEAVINGDATE.0 transactional.LEAVINGDATE.0 transactional.en.LEAVINGDATE.0 ">[LEAVINGDATE] must be later than the start of the tax year (CY-6).</sch:assert>
        <sch:assert test="(round(date:seconds(normalize-space(.)) div 86400) &lt;= round(date:seconds(normalize-space(date:add(normalize-space(date:date()),normalize-space(&apos;P30D&apos;)))) div 86400))" id="a_LEAVINGDATE.1" diagnostics="errorCode.LEAVINGDATE.1 transactional.LEAVINGDATE.1 transactional.en.LEAVINGDATE.1 ">[LEAVINGDATE] must not be later than thirty days after today</sch:assert>
      </sch:rule>
    </sch:pattern>
    <sch:pattern id="p7">
      <sch:rule context="/hd:GovTalkMessage/hd:Body/eas:IRenvelope/eas:EmployerAlignmentSubmission/eas:Employee">
        <sch:assert test="eas:Employment/eas:PaymentToANonIndividual
                or
              eas:EmployeeDetails/eas:BirthDate" id="a_EMPLOYEE.EAS.2" diagnostics="errorCode.EMPLOYEE.EAS.2 transactional.EMPLOYEE.EAS.2 transactional.en.EMPLOYEE.EAS.2 ">[DATEOFBIRTH] is mandatory if [PAYMENTTOANONINDIVIDUAL] is absent.</sch:assert>
      </sch:rule>
    </sch:pattern>
    <sch:pattern id="p3">
      <sch:rule context="/hd:GovTalkMessage/hd:Body/eas:IRenvelope/eas:EmployerAlignmentSubmission">
        <sch:assert test="../../../hd:Header/hd:MessageDetails/hd:Class = &apos;HMRC-PAYE-RTI-EAS&apos;
          or
          ../../../hd:Header/hd:MessageDetails/hd:Class = &apos;HMRC-PAYE-RTI-EAS-TIL&apos;" id="a_EAS.0" diagnostics="errorCode.EAS.0 transactional.EAS.0 transactional.en.EAS.0 ">Valid message classes for an Employer Alignment Submission are HMRC-PAYE-RTI-EAS and HMRC-PAYE-RTI-EAS-TIL.</sch:assert>
      </sch:rule>
    </sch:pattern>
  <sch:diagnostics>
    <sch:diagnostic id="errorCode.r1005">5004</sch:diagnostic>
    <sch:diagnostic id="transactional.r1005">At least one key must exist in the IRheader</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.r1005">At least one key must exist in the IRheader</sch:diagnostic>
    <sch:diagnostic id="errorCode.r1004">5005</sch:diagnostic>
    <sch:diagnostic id="transactional.r1004">Keys in the GovTalkDetails do not match those in the IRheader.</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.r1004">Keys in the GovTalkDetails do not match those in the IRheader.</sch:diagnostic>
    <sch:diagnostic id="errorCode.EAS.0">7820</sch:diagnostic>
    <sch:diagnostic id="transactional.EAS.0">Valid message classes for an Employer Alignment Submission are HMRC-PAYE-RTI-EAS and HMRC-PAYE-RTI-EAS-TIL.</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.EAS.0">Valid message classes for an Employer Alignment Submission are HMRC-PAYE-RTI-EAS and HMRC-PAYE-RTI-EAS-TIL.</sch:diagnostic>
    <sch:diagnostic id="errorCode.HMRCOFFICENUMBER.0">7821</sch:diagnostic>
    <sch:diagnostic id="transactional.HMRCOFFICENUMBER.0">The TaxOfficeNumber key within the IRheader must match [HMRCOFFICENUMBER]</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.HMRCOFFICENUMBER.0">The TaxOfficeNumber key within the IRheader must match [HMRCOFFICENUMBER]</sch:diagnostic>
    <sch:diagnostic id="errorCode.EMPLOYERPAYEREF.0">7822</sch:diagnostic>
    <sch:diagnostic id="transactional.EMPLOYERPAYEREF.0">The TaxOfficeReference key within the IRheader must match [EMPLOYERPAYEREF]</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.EMPLOYERPAYEREF.0">The TaxOfficeReference key within the IRheader must match [EMPLOYERPAYEREF]</sch:diagnostic>
    <sch:diagnostic id="errorCode.NUMBEROFPARTS.0">7898</sch:diagnostic>
    <sch:diagnostic id="transactional.NUMBEROFPARTS.0">You must enter [UNIQUEPARTID] if the [NUMBEROFPARTS] is greater than 1</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.NUMBEROFPARTS.0">You must enter [UNIQUEPARTID] if the [NUMBEROFPARTS] is greater than 1</sch:diagnostic>
    <sch:diagnostic id="errorCode.EMPLOYEE.EAS.2">7907</sch:diagnostic>
    <sch:diagnostic id="transactional.EMPLOYEE.EAS.2">There must be an entry in [DATEOFBIRTH] if there is no entry in [PAYMENTTOANONINDIVIDUAL]. Please check.</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.EMPLOYEE.EAS.2">There must be an entry in [DATEOFBIRTH] if there is no entry in [PAYMENTTOANONINDIVIDUAL]. Please check.</sch:diagnostic>
    <sch:diagnostic id="errorCode.EMPLOYEE.0">7823</sch:diagnostic>
    <sch:diagnostic id="transactional.EMPLOYEE.0">There is no entry in [NINO]. Please complete at least two [ADDRESSLINE] </sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.EMPLOYEE.0">There is no entry in [NINO]. Please complete at least two [ADDRESSLINE] </sch:diagnostic>
    <sch:diagnostic id="errorCode.EMPLOYEE.1">7824</sch:diagnostic>
    <sch:diagnostic id="transactional.EMPLOYEE.1">There must be an entry in either [FORENAME] or [INITIALS]</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.EMPLOYEE.1">There must be an entry in either [FORENAME] or [INITIALS]</sch:diagnostic>
    <sch:diagnostic id="errorCode.FOREIGNCOUNTRY.0">7825</sch:diagnostic>
    <sch:diagnostic id="transactional.FOREIGNCOUNTRY.0">There is an entry in [FOREIGNCOUNTRY]. Please complete at least two [ADDRESSLINE] </sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.FOREIGNCOUNTRY.0">There is an entry in [FOREIGNCOUNTRY]. Please complete at least two [ADDRESSLINE] </sch:diagnostic>
    <sch:diagnostic id="errorCode.BirthDateType.1">5001</sch:diagnostic>
    <sch:diagnostic id="transactional.BirthDateType.1">The Date must be today or earlier. Please check</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.BirthDateType.1">The Date must be today or earlier. Please check</sch:diagnostic>
    <sch:diagnostic id="errorCode.DATEOFBIRTH.0">7826</sch:diagnostic>
    <sch:diagnostic id="transactional.DATEOFBIRTH.0">[DATEOFBIRTH] must be later than 130 years before today's date. Please check </sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.DATEOFBIRTH.0">[DATEOFBIRTH] must be later than 130 years before today's date. Please check </sch:diagnostic>
    <sch:diagnostic id="errorCode.STARTDATE.0">7828</sch:diagnostic>
    <sch:diagnostic id="transactional.STARTDATE.0">The [STARTDATE] must be a date in the past or any date from today to 30 days in the future. Please check</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.STARTDATE.0">The [STARTDATE] must be a date in the past or any date from today to 30 days in the future. Please check</sch:diagnostic>
    <sch:diagnostic id="errorCode.STARTDATE.1">7829</sch:diagnostic>
    <sch:diagnostic id="transactional.STARTDATE.1">There is an entry in [STARTDATE]. Please complete at least two [ADDRESSLINE]s</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.STARTDATE.1">There is an entry in [STARTDATE]. Please complete at least two [ADDRESSLINE]s</sch:diagnostic>
    <sch:diagnostic id="errorCode.LEAVINGDATE.0">7905</sch:diagnostic>
    <sch:diagnostic id="transactional.LEAVINGDATE.0">The [LEAVINGDATE] must be within the last 6 previous tax years.</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.LEAVINGDATE.0">The [LEAVINGDATE] must be within the last 6 previous tax years.</sch:diagnostic>
    <sch:diagnostic id="errorCode.LEAVINGDATE.1">7831</sch:diagnostic>
    <sch:diagnostic id="transactional.LEAVINGDATE.1">The [LEAVINGDATE] cannot be a future date more than thirty days from today. Please check</sch:diagnostic>
    <sch:diagnostic xml:lang="en" id="transactional.en.LEAVINGDATE.1">The [LEAVINGDATE] cannot be a future date more than thirty days from today. Please check</sch:diagnostic>
  </sch:diagnostics>
</sch:schema>
